* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.slide-full .slide {
  display: none;
}

.slide-full .active {
  display: block !important;
}

.slide-full {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, zoom 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, zoom 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, zoom 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, zoom 300ms ease-in-out;
}

.type-image.slide-full .article-container {

  background-color: rgba(255,255,255,0);

}

.type-image.slide-full .article-container .slideTitle {
display: none;

}

.type-text.slide-full .article-container {
  border: rgba(162, 159, 0, 0.2) solid 1px;

  background-color: rgba(255,255,255,0.1);

}

.slide-full .slideTitle {
  font-size: 50px;
  -webkit-transition:font-size 300ms ease-in-out;
  -moz-transition:font-size 300ms ease-in-out;
  -o-transition:font-size 300ms ease-in-out;
  transition:font-size 300ms ease-in-out;

}

.slide-full .slideContent {
  font-size: 30px;
  -webkit-transition:font-size 300ms ease-in-out;
  -moz-transition:font-size 300ms ease-in-out;
  -o-transition:font-size 300ms ease-in-out;
  transition:font-size 300ms ease-in-out;
}


.slide-full.active {
  display: block;
}

.article-container {
  position: absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  bottom: 10%;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.slide-full.type-text .article-container {
  overflow: overlay;
}

.square {
  display: block;
  position: absolute;
  margin: inherit;
  padding: 2.5em;
  box-sizing: border-box;
  background-color:
}

.square .slideTitle{
  font-size: 1.5vw;
}

.type-image.square .slideTitle{
  display: none;
}

.square .slideContent{
  font-size: 0.6vw;
}

.imgContainer {
  top: 0;
  bottom: -18px;
  left: 0;
  right: 0;
  position: inherit;
}

#more-menu {
  transition: visibility 0s, opacity 0.5s linear;
  background-color: #191919;
  display: none;
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 0;
  width: 300px;
  z-index: 2;
}

#more-menu .slot2 i,
#more-menu .slot3 i {
font-size: 40px !important;
}

#more-menu p {
  display: initial;
}

#more-menu .slot {
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0;
  padding: 0;
  float: left;
}

.slider-info {
  z-index: 999;
  background-color: #191919;
  position: absolute;
  top: 0px;
  left: 0px !important;
  right: 0;
  bottom: 0;
  display: none;
}
