body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  color: rgba(245, 245, 245, 0.75);
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'vcr_osd_monoregular' !important;
  color: #C102D1;
  text-shadow: 2px 2px rgba(0,0,0,0.75);
  cursor: crosshair;
}

@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('../fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('../fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#left {
  width: 100px;
  left: 0;
  top: 50px;
  bottom: 50px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
}

#right {
  /*background-color: green;*/
  width: 100px;
  right: 0;
  top: 50px;
  bottom: 50px;
  position: absolute;
  vertical-align: middle;
  text-align: center;
}

#right p {
  position: absolute;
    top: 50%;
    bottom: 50%;
    left: 25%;
}

.next-icon,
.prev-icon {
  color: rgba(193, 2, 209, 0.75);
}

.next-icon :hover,
.prev-icon :hover {
  color: rgba(193, 2, 209, 0.95);
}

#left p {
  position: absolute;
    top: 50%;
    bottom: 50%;
    right: 25%;
}

#center {
  width: calc(100% - 200px);
  position: absolute;
  left: 100px;
  right: 100px;
  top: 50px;
  bottom: 50px;
}

#header-left{
width: 100px;
left: 0;
position: absolute;
height: 50px;
text-align: center;
vertical-align: middle;
font-weight: bolder;
font-size: 18px;
cursor: wait;
}

#header-right{
  z-index: 10;
  width: 100px;
  right: 0;
  position: absolute;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#footer-left{
  width: 100px;
  left: 0;
  position: absolute;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#footer-left p {
  margin: 0;
}

#footer-right{
  width: 100px;
  right: 0;
  position: absolute;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#pageIndicator{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  font-size: 25px;
  line-height: 0;
}

#pageIndicator .currentPage{
  font-weight: bolder;
}

#pageIndicator .currentPage::after{
  font-weight: normal;
  content: " /";
}

.page-container{
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 25px;
  top: 25px;
  vertical-align: middle;
  text-align: center;
}

.page-container img{
  width: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.material-icons {
  cursor: pointer;
  font-size: 50px !important;
}

.square.active .article-container {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 100px 25px rgb(34, 24, 137);
  -moz-box-shadow: 0px 0px 100px 25px rgb(34, 24, 137);
  box-shadow: 0px 0px 100px 25px rgb(34, 24, 137);
}

.glitch {
	text-align: center;
	font-weight: 100;
	overflow: default;
}

.glitch1 {
	animation: noise 2s linear infinite;
}


.glitch2 {
	animation: noise2 2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -10px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 0px;}
}

@keyframes noise-2 {
   {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 10px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 0px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(2.0);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 1; transform: scaleX(-1);}
  20% {opacity: 1; transform: scaleY(0.5);}
  43% {opacity: 1; transform: scaleX(1.0);}
}

.slide-full .article-container {
  background-color: rgba(255,255,255,0.2);
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
}

.slideContent {
  color: rgba(21, 15, 40, 0.91);
  text-shadow: none;
}

.type-text .article-container {
  -webkit-box-shadow: 0px 0px 100px 25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 100px 25px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 100px 25px rgba(0,0,0,0.75);
}

.pageIndicator {
    letter-spacing: -5px;
}

::-webkit-scrollbar{
  background-color: rgba(21, 15, 40, 0.21);
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(21, 15, 40, 0.51);
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb{
  border-radius: 0 10px 10px 0;
}


.glitch-paragraph {
  display: inline;
  position: relative;
  top: 10px;
  left: 10px;
  zoom: 1.1;
  opacity: 0.9;
  color: #19132D;
}

#more-menu {
  background-color: none !important;
}
